{% extends "templates/custom_web.html" %}
{% block content %}
  
  
  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox" data-ride="carousel">
          
          <div class="carousel-item" style="background-image: url(assets/lsa/images/Hero/FinanceSlider.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Precision in Financial Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Elevate your business with expert accounting services—financial reports, statement preparation, reconciliation, invoicing, receivables tracking, and cash forecasting for optimal financial health.</p>
                <a type="button" class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#modalForm">Explore Now</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/lsa/images/Hero/GSTSlider.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Streamlining Your GST Journey</h2>
                <p class="animate__animated animate__fadeInUp">Elevate compliance with expert GST services: seamless registration, efficient filing, LUT filing, and comprehensive GST support for businesses.</p>
                <a type="button" class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#modalForm">Explore Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item active" style="background-image: url(assets/lsa/images/Hero/AccountingSlider.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Mastering Tax Efficiency Excellence</h2>
                <p class="animate__animated animate__fadeInUp">Optimize Your Finances: Expert Tax Planning, TDS Compliance, Withholding Solutions for Maximum Savings and Seamless Tax Operations. Discover Efficiency Today!</p>
                <a type="button" class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#modalForm">Explore Now</a>
              </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>
  <!-- End Hero Section -->


  <!-- ======= About Us Section ======= -->

  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
      </header>

      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6 order-lg-2">
            <img src="assets/lsa/images/About.jpg" alt="About Us Image" class="img-fluid">
          </div>
          <div class="col-lg-6 order-lg-1">
            <!-- Text on the left -->
            <div class="text">
              <h3>Comprehensive Financial Solutions with Expertise</h3>
              <p>
                Elevate your business with our professional SEO-optimized financial services! From accounting and audit to taxation and business consulting, our expertise ensures success. Explore corporate solutions like company registration and secretarial services. Trust us for comprehensive, SEO-driven financial solutions tailored to your needs.
              </p>
              <button class="btn btn-primary">Know More <i class="bi bi-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->

  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
    
        <header class="section-header">
            <h3>Our Services</h3>
        </header>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-calculator" style="color: #fff;"></i></div>
            <h4>Accounting Services</h4>
            <p>LSA offers top-notch accounting services, ensuring precise financial management and compliance. Trust our expert team for seamless, efficient, and cost-effective accounting solutions</p>
            <a href="#" class="btn btn-secondary">Know More</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-file-earmark-ruled" style="color: #fff;"></i></div>
            <h4>Audit & Assurance</h4>
            <p>LSA delivers comprehensive Audit & Assurance services, ensuring financial integrity and compliance with precision. Trust our expert team for reliable audit solutions and compliance excellence.</p>
            <a href="#" class="btn btn-secondary">Know More</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-cash-coin" style="color: #fff;"></i></div>
            <h4>Indirect Tax Services</h4>
            <p>LSA provides comprehensive Indirect Taxation Services, including GST Registration, ensuring seamless compliance and optimal financial management for businesses. Trust our expert team for efficient indirect tax solutions.</p>
            <a href="#" class="btn btn-secondary">Know More</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cash-coin" style="color: #fff;"></i></div>
              <h4>Direct Tax Services</h4>
              <p>LSA specializes in expert Direct Taxation services, providing seamless solutions for tax compliance, filing, and strategic planning. Our experienced team ensures optimal outcomes for your business tax needs.</p>
              <a href="#" class="btn btn-secondary">Know More</a> 
           </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-briefcase-fill" style="color: #fff;"></i></div>
            <h4>Business Consultants</h4>
            <p>LSA provides expert Business Consultants services, guiding enterprises through strategic financial planning, compliance, and growth. Elevate your business with our tailored consultancy solutions.</p>
            <a href="#" class="btn btn-secondary">Know More</a>
         </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-globe-americas" style="color: #fff;"></i></div>
            <h4>International Taxation</h4>
            <p>LSA offers comprehensive International Taxation Services, ensuring seamless cross-border compliance, transfer pricing, and efficient tax strategies for global businesses. Trust LSA for expert international tax solutions.</p>
            <a href="#" class="btn btn-secondary">Know More</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-file-earmark-text" style="color: #fff;"></i></div>
              <h4>IT Return Filling Service</h4>
              <p>LSA offers expert IT return filing services, ensuring seamless tax compliance with personalized assistance, timely submissions, and maximum deductions. Trust LSA for efficient and stress-free income tax filing solutions.</p>
              <a href="#" class="btn btn-secondary">Know More</a> 
           </div>
        </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-currency-dollar" style="color: #fff;"></i></div>
              <h4>Retainership</h4>
              <p>LSA offers comprehensive Retainership Services, ensuring seamless financial compliance, expert advisory, and proactive solutions. Elevate your business stability with our dedicated Retainership support.</p>
              <a href="#" class="btn btn-secondary">Know More</a>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-file-earmark-check" style="color: #fff;"></i></div>
              <h4>ROC Filing</h4>
              <p>LSA provides comprehensive ROC filing services ensuring compliance and seamless legal documentation for your company. Trust us for efficient ROC filings, a crucial aspect of corporate governance.</p>
              <a href="#" class="btn btn-secondary">Know More</a> 
           </div>
          </div>
      </div>

    </div>
  </section>
  <!-- End Services Section -->


    <!-- ======= Why Us Section ======= -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-5 gy-lg-0 align-items-center">
        <div class="col-12 col-lg-5">
          <h2 class="display-5 mb-3 mb-xl-4">Why Choose Us?</h2>
          <p class="mb-4 mb-xl-5">LSA stands out for impeccable Accounting, Audit, Taxation, and Business Consulting services. With expert consultants, seamless ROC filing, and swift GST registration, we ensure unparalleled support for your business success.</p>
              <button class="btn btn-primary">Know More <i class="bi bi-arrow-right"></i></button>
        </div>
        <div class="col-12 col-lg-7">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <div class="row gy-3 gy-md-4">
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">60</h3>
                      <p class="fs-5 mb-0 text-secondary">Finished Projects</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">18k+</h3>
                      <p class="fs-5 mb-0 text-secondary">Issues Solved</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">10k+</h3>
                      <p class="fs-5 mb-0 text-secondary">Happy Customers</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">78</h3>
                      <p class="fs-5 mb-0 text-secondary">Awwwards Winning</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

      <!-- Testimonial Slider Section -->
      <section id="testimonial" class="bg-white">
        <header class="section-header">
          <h3>What our customers say about Us</h3>
      </header>
        <div class="container">
            <div class="row">
               
                <div class="col-12">
                    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Slide Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                            <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <!-- Slide 1 -->
                            <div class="carousel-item active">
                                <div class="carousel-content">
                                    <div class="client-img"><img src="assets/lsa/images/testimonial-1.png" alt="Testimonial Slider"></div>
                                    <h3>Rajnish Kumar <br><span></span></h3>
                                    <p class="col-md-8 offset-md-2">LSA has been a game-changer for our business! Their accounting services are unparalleled – meticulous attention to detail, prompt responses, and a personalized approach. Our financials have never been in better shape. Thanks to LSA, we can focus on growing our business with confidence. Highly recommend their expertise!</p>
                                </div>
                            </div>
                            <!-- Slide 2 -->
                            <div class="carousel-item">
                                <div class="carousel-content">
                                  <div class="client-img">
                                    <img src="assets/lsa/images/testimonial-2.png" alt="Testimonial Slider">
                                  </div>
                                    <h3>Swapna <br><span></span></h3>
                                    <p class="col-md-8 offset-md-2">We are extremely satisfied with LSA's exceptional audit and assurance services. Their thorough approach and attention to detail have not only ensured compliance but also provided invaluable insights for our business growth. LSA's team is professional, reliable, and a true partner in our success. Highly recommend their expertise!</p>
                                </div>
                            </div>
                            <!-- Slide 3 -->
                            <div class="carousel-item">
                                <div class="carousel-content">
                                    <div class="client-img"><img src="assets/lsa/images/testimonial-3.png" alt="Testimonial Slider"></div>
                                    <h3>Siddu <br><span></span></h3>
                                    <p class="col-md-8 offset-md-2">LSA has been instrumental in elevating our corporate journey. Their unparalleled expertise and seamless service delivery have transformed our operations. The team's dedication and innovative solutions have not only met but exceeded our expectations. LSA is truly a trusted partner for success in the corporate realm.</p>
                                </div>
                            </div>
                            <!-- Slider pre and next arrow -->
                            <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left"></i>
                              </a>
                              <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                                <i class="fas fa-chevron-right"></i>
                              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Slider Section -->


    <!-- ======= Footer ======= -->
 
    

  <!-- ------------------------Popup----------------- -->
  <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Get in Touch with Us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required />
                    </div>
                    <div class="mb-3">
                      <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile"required />
                    </div>
                    <div class="mb-3">
                      <input type="email" class="form-control" id="name" name="email" placeholder="Email" required />
                    </div>
                    <div class="mb-3">
                        <textarea type="subject" class="form-control" id="sunject" name="subject" placeholder="Subject" rows="5" required></textarea>
                    </div>
                    <div class="modal-footer d-block">
                        <button type="submit" class="btn btn-warning float-end">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>










  <!-- Vendor JS Files -->
  <!-- <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
  <script src="assets/lsa/css/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/lsa/css/vendor/aos/aos.js"></script>
  <script src="assets/lsa/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/lsa/css/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/lsa/css/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/lsa/css/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/lsa/css/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/lsa/css/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <!-- <script src="assets/lsa/js/script.js"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

{% endblock %}