{% extends "templates/custom_web.html" %}
{% block content %}
  



  <!-- ======= Main Section ======= -->
  <div class="container" data-aos="fade-up">
    <section id="aboutpage">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Empowering Business Growth Through Comprehensive Financial and Corporate Solutions</h3>
          </div>
          <div class="col-md-6">
            <p>Elevate your business with LSA's expert accounting, audit, taxation, and corporate services. From
              seamless company registration to efficient GST registration, we optimize financial success and ensure
              compliance. Discover tailored solutions today.</p>
          </div>
        </div>
      </div>
    </section> <!-- End Main -->
  </div>

  <!-- ======= Why Us Section ======= -->
  <section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-5 gy-lg-0 align-items-center">
        <div class="col-12 col-lg-5">
          <h2 class="display-5 mb-3 mb-xl-4">Why Choose Us?</h2>
          <p class="mb-4 mb-xl-5">LSA stands out for impeccable Accounting, Audit, Taxation, and Business Consulting
            services. With expert consultants, seamless ROC filing, and swift GST registration, we ensure unparalleled
            support for your business success.</p>
        </div>
        <div class="col-12 col-lg-7">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <div class="row gy-3 gy-md-4">
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">60</h3>
                      <p class="fs-5 mb-0 text-secondary">Finished Projects</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">18k+</h3>
                      <p class="fs-5 mb-0 text-secondary">Issues Solved</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">10k+</h3>
                      <p class="fs-5 mb-0 text-secondary">Happy Customers</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                      <h3 class="display-1 mb-2">78</h3>
                      <p class="fs-5 mb-0 text-secondary">Awwwards Winning</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ==================Management Team====================== -->
  <section id="ceo" class="services">
    <div class="container" data-aos="fade-up">
      <div class="container mt-5 column-container">
        <div class="row">
          <!-- Left Column with Text -->
          <div class="col-md-7" style="margin-right: 120px;">
            <h3>Meet Our CEO</h3>
            <p>Lokesh Sankhla, our esteemed CEO, is a distinguished professional with over two decades of expertise in
              financial services. Holding the prestigious All India 26th Rank in the June 2013 batch, he was honored
              with a CMA Convocation medal at the Science City Auditorium, Kolkata in April 2014. Specializing as an
              auditor and corporate tax consultant, Lokesh brings unparalleled insight and proficiency to our company.
              His commitment to excellence and extensive experience make him a trailblazer in the field. Benefit from
              his strategic guidance and in-depth knowledge in financial matters. Trust Lokesh Sankhla for unparalleled
              financial solutions.</p>
            <h4>-Lokesh Sankhla</h4>
          </div>

          <!-- Right Column with Large Image -->
          <div class="col-md-3">
            <img src="assets/lsa/images/Lokesh sankhla.svg" class="img-fluid ceo-image" alt="CEO">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="ceo2" class="ceo2">
    <div class="container" data-aos="fade-up">
      <div class="container mt-5 column-container">
        <div class="row">
          <!-- Left Column with Text -->
          <div class="col-md-3" style="margin-right: 80px;">
            <img src="assets/lsa/images/Pankaj Sankhla.svg" class="img-fluid ceo-image" alt="CEO">
          </div>

          <!-- Right Column with Large Image -->
          <div class="col-md-8">
            <h3>Meet Our CEO</h3>
            <p>Lokesh Sankhla, our esteemed CEO, is a distinguished professional with over two decades of expertise in
              financial services. Holding the prestigious All India 26th Rank in the June 2013 batch, he was honored
              with a CMA Convocation medal at the Science City Auditorium, Kolkata in April 2014. Specializing as an
              auditor and corporate tax consultant, Lokesh brings unparalleled insight and proficiency to our company.
              His commitment to excellence and extensive experience make him a trailblazer in the field. Benefit from
              his strategic guidance and in-depth knowledge in financial matters. Trust Lokesh Sankhla for unparalleled
              financial solutions.</p>
            <h4>-Pankaj Sankhla</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Management Team -->

  <!-- ======================= Our Team ================= -->
  <!-- <section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Meet our Experts</h3>
      </header>


      <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0 gx-xxl-5">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
              <div class="card-body p-0">
                <figure class="m-0 p-0">
                  <img class="img-fluid" loading="lazy" src="assets/lsa/images/Team-1.jpg" alt="">
                  <figcaption class="m-0 p-4">
                    <h4 class="mb-1">Rajesh</h4>
                    <p class="text-secondary mb-0">Financial Advisor</p>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
              <div class="card-body p-0">
                <figure class="m-0 p-0">
                  <img class="img-fluid" loading="lazy" src="assets/lsa/images/Team-2.jpg" alt="">
                  <figcaption class="m-0 p-4">
                    <h4 class="mb-1">Suresh</h4>
                    <p class="text-secondary mb-0">Accountant</p>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
              <div class="card-body p-0">
                <figure class="m-0 p-0">
                  <img class="img-fluid" loading="lazy" src="assets/lsa/images/Team-3.jpg" alt="">
                  <figcaption class="m-0 p-4">
                    <h4 class="mb-1">Siri</h4>
                    <p class="text-secondary mb-0">Investment Planner</p>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
              <div class="card-body p-0">
                <figure class="m-0 p-0">
                  <img class="img-fluid" loading="lazy" src="assets/lsa/images/Team-4.jpg" alt="">
                  <figcaption class="m-0 p-4">
                    <h4 class="mb-1">Sakshi</h4>
                    <p class="text-secondary mb-0">Financial Analyst</p>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section> -->
  <!-- End Team -->

  <!-- =============================Life LSA======================= -->
  <section id="life" class="life">
    <header class="section-header">
      <h3>Life@ LSA</h3>
    </header>
    <div class="team-slider">
      <img src="assets/lsa/images/TeamSlider1.png" alt="Image 1">
      <img src="assets/lsa/images/TeamSlider2.png" alt="Image 2">
      <img src="assets/lsa/images/TeamSlider3.png" alt="Image 3">
      <img src="assets/lsa/images/TeamSlider4.png" alt="Image 4">
      <img src="assets/lsa/images/TeamSlider5.png" alt="Image 5">
    </div>
  </section>


    <!-- ======= Footer ======= -->
   

  

  <script>
    $(document).ready(function () {
      $('#myCarousel').carousel({
        interval: 1000, // Adjust the interval as needed (in milliseconds)
        wrap: true
      });
    });
  </script>


{% endblock %}