{% extends "templates/custom_web.html" %}
{% block content %}
  


  <!-- ======= hero Section ======= -->
  <section class="hero-section">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Accounting & Bookkeeping Services in Bangalore!</h1>
            <p class="col-lg-10 fs-4">LSA is your trusted partner in Bangalore, offering expert Accounting & Bookkeeping services for MSMEs, Startups, and Small Businesses with 15+ years of experience. Contact us today!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="your name">
                <label for="floatingInput">Name</label>
              </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="Mobile Number">
                <label for="floatingInput">Mobile Number</label>
              </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Message">
              <label for="floatingInput">Message</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Now</button>
          </form>
        </div>
      </div>
</section>

<!-- ==========overview Section========== -->
    <!-- <section id="overviewpage">
      <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h3>Unlock Efficiency and Growth: The Vital Role of Outsourced Accounting Services by LSA</h3>
            </div>
            <div class="col-md-7">
              <p>LSA offers comprehensive Accounting Services to streamline financial processes, enhance accuracy, and ensure compliance. Outsourcing accounting tasks to LSA allows businesses to focus on core operations, reduce costs, and access expert financial advice. Our dedicated team ensures efficient management of financial records, facilitating strategic decision-making and fostering long-term business success. Trust LSA for reliable, customized, and efficient outsourced accounting services.</p>
            </div>
          </div>
      </div>
    </section> End Main -->

<!-- ========================Benefits==================== -->

    <section id="benefits" class="benefits section-bg">
        <div class="container" data-aos="fade-up">
  
            <header class="section-header">
                <h3>Benefits of Outsourcing Accounting Services</h3>
            </header>
    
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-stopwatch"></i></div>
                <h4>Save Time</h4>
                <p>Enhance efficiency with outsourced Accounting & Bookkeeping services, optimizing time for critical business functions, boosting productivity seamlessly.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-graph-down-arrow"></i></div>
                <h4>Reduce Expenses</h4>
                <p>Enhance finances with affordable, efficient, and productive outsourced accounting, optimizing expenses effectively.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
                <h4>Increased Profits</h4>
                <p>Leverage adept accountants for enhanced profit margins, prioritizing cash flow and minimizing unplanned expenses.</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-crosshair"></i></div>
                <h4>Increased efficiency</h4>
                <p>Optimize business efficiency with accurate financial records through expert financial accounting advisory.</p>
              </div>
            </div>
          </div> 
        </div>
<!-- =====================CTA======================= -->
  <section id="cta">
        <div class="container-fluid text-center py-4 py-md-6">
            <div class="lc-block card border-0 text-center rounded p-4 p-lg-6" style="background:url(assets/lsa/images/CTA.svg)  center / cover no-repeat;">
                <div class="row card-body mb-3 mb-lg-4">
                    <div class="col-xl-11 col-xxl-9 mx-auto">
                        <div class="lc-block">
                            <div editable="rich">
                                <h3 class="text-white fw-bold display-6">Optimize Finances with LSA: Boost Your Business Now!</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Call Now</a></div>
            </div>
        </div>
  </section>
 <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>FAQ's on Accounting</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What are the key benefits of outsourcing Accounting services to LSA?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Outsourcing your accounting services to LSA offers numerous advantages, including cost savings, enhanced accuracy, and the ability to focus on core business activities. LSA's experienced team ensures timely and accurate financial reporting, helping your company make informed decisions.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does LSA ensure compliance with tax regulations in Accounting services?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                LSA is committed to ensuring tax compliance for your business. Our expert accountants stay updated with the latest tax regulations, providing comprehensive taxation services. We employ advanced software to streamline tax processes and minimize the risk of errors, ensuring your business remains compliant at all times.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can LSA customize Accounting services based on the specific needs of my business?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, LSA understands that every business is unique. We offer tailor-made accounting solutions to meet the specific needs of your company. Whether you require bookkeeping, financial analysis, or budgeting services, our team can customize a package that aligns perfectly with your business objectives.  
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How does LSA use technology to streamline Accounting processes?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                LSA embraces cutting-edge technology to streamline accounting processes efficiently. We leverage advanced accounting software and automation tools to enhance accuracy, reduce manual errors, and improve overall efficiency. Our technology-driven approach ensures that your financial data is secure and accessible whenever you need it.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What sets LSA apart in providing Accounting services for startups?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                LSA specializes in offering accounting services tailored to the unique needs of startups. Our team understands the challenges faced by new businesses and provides proactive support in financial management. From budgeting to financial planning, LSA empowers startups with the financial tools they need to succeed.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
      

    <!-- ======= Footer ======= -->
    {% endblock %}