{% extends "templates/custom_web.html" %}
{% block content %}
  


  <!-- ======= hero Section ======= -->
  <section class="direct-hero-section">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Empowering Success, Navigating Taxes – Your Direct Taxation Partner</h1>
            <p class="col-lg-10 fs-4">Navigate the complexities of taxation effortlessly with our expert team. Whether you seek advice, planning, or compliance, our company is your trusted partner in achieving financial success. Contact us now.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="your name">
                <label for="floatingInput">Name</label>
              </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="Mobile Number">
                <label for="floatingInput">Mobile Number</label>
              </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Message">
              <label for="floatingInput">Message</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Now</button>
          </form>
        </div>
      </div>
</section>

<section id="departments" class="departments">
  <div class="container">

    <header class="section-header">
      <h3>We provide the following Direct Taxation service</h3>
    </header>

    <div class="row gy-4 indirect-department">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Income Tax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Corporate Tax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Wealth Tax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Gift Tax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Estate Duty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Expenditure Tax</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Fringe Benefit Tax</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Income Tax</h3>
                <p>LSA excels in comprehensive Income Tax and Indirect Taxation services for businesses. Our expert team ensures seamless compliance, strategic tax planning, and efficient filing, optimizing your company's financial health. From Income Tax Returns to GST compliance, we prioritize accuracy and timeliness. Trust LSA for tailored tax solutions, minimizing liabilities and maximizing returns. Elevate your financial strategy with our dedicated Income Tax and Indirect Taxation services, tailored to suit your company's unique needs. Partner with LSA for excellence in tax management, empowering your business for sustained success.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Income-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Corporate Tax</h3>
                <p>LSA excels in corporate tax and indirect taxation services, offering expert guidance to optimize your company's financial strategies. Our dedicated team ensures compliance with tax regulations, maximizing savings and minimizing liabilities. Trust LSA for comprehensive tax planning, efficient VAT/GST management, and seamless indirect tax solutions tailored to your business needs. Enhance your financial success with LSA's specialized corporate tax expertise and personalized indirect taxation services. Partner with us to navigate complex tax landscapes and drive sustained growth.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Corporate-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Wealth Tax</h3>
                <p>LSA Company specializes in comprehensive wealth tax solutions, offering expert services in indirect taxation. Our dedicated team ensures seamless compliance and optimization of wealth tax processes. With a focus on efficiency and accuracy, LSA excels in navigating complex tax landscapes, providing tailored solutions to maximize returns. Trust LSA for reliable indirect taxation services, optimizing your financial strategies. Boost your wealth management with our expert guidance at LSA, where excellence meets results.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/wealth-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Gift Tax</h3>
                <p>LSA Company provides comprehensive Gift Tax Indirect Taxation services, ensuring seamless compliance and optimization for clients. Our expert team specializes in navigating complex tax regulations, offering personalized solutions to minimize liabilities. Trust LSA for efficient and transparent tax planning, reporting, and filing. With a customer-centric approach, we prioritize your financial well-being. Partner with LSA for excellence in Gift Tax Indirect Taxation services, delivering value and peace of mind. Maximize benefits, minimize risks – choose LSA as your trusted taxation partner.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Gift-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Estate Duty</h3>
                <p>LSA Company provides comprehensive Gift Tax Indirect Taxation services, ensuring seamless compliance and optimization for clients. Our expert team specializes in navigating complex tax regulations, offering personalized solutions to minimize liabilities. Trust LSA for efficient and transparent tax planning, reporting, and filing. With a customer-centric approach, we prioritize your financial well-being. Partner with LSA for excellence in Gift Tax Indirect Taxation services, delivering value and peace of mind. Maximize benefits, minimize risks – choose LSA as your trusted taxation partner.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Estateduty-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Expenditure Tax</h3>
                <p>LSA Company optimizes financial efficiency with streamlined expenditure tax management, leveraging expert indirect taxation services. Our dedicated team ensures compliance with regulations, minimizing tax liabilities and maximizing savings. From meticulous record-keeping to strategic planning, we tailor solutions for your unique needs. Trust LSA for comprehensive tax management, enhancing your bottom line. Our services cover GST, VAT, and other indirect taxes, delivering cost-effective solutions that propel your business forward. Partner with LSA for a seamless, compliant, and financially optimized approach to expenditure tax, positioning your company for sustained success.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Expenditure-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-7">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Fringe Benefit Tax</h3>
                <p>LSA offers comprehensive Fringe Benefit Tax (FBT) services, ensuring compliance with indirect taxation regulations for your company. Our expert team specializes in navigating complex FBT requirements, minimizing liabilities, and optimizing benefits. Trust LSA for seamless FBT management, covering employee perks, company cars, and other fringe benefits. Enhance your tax efficiency with our tailored solutions, providing strategic insights and cost-effective approaches. Stay ahead of regulatory changes and streamline your company's indirect taxation processes with LSA's dedicated FBT services. Benefit from our expertise to achieve financial optimization and compliance excellence.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="images/Fringe-Benefit-tax.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Departments Section -->


<!-- ========================Benefits==================== -->

    <section id="benefits" class="benefits section-bg">
        <div class="container" data-aos="fade-up">
  
            <header class="section-header">
                <h3>Benefits of Indirect taxation service</h3>
            </header>
    
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-arrows-angle-contract"></i></div>
                <h4>Control of inflation</h4>
                <p>
                    Direct taxation service fosters economic stability, ensuring inflation control, a key benefit for sustainable financial growth and prosperity.
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-arrow-bar-up"></i></div>
                <h4>Higher productivity</h4>
                <p>
                    Boost efficiency with direct taxation services, enhancing productivity through streamlined processes, accurate filings, and expert financial guidance.
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
                <h4>Certainty</h4>
                <p>
                    Experience certainty with our direct taxation services. Our expert team ensures accurate, timely, and transparent solutions, providing you peace of mind. Trust us for reliable tax assistance.
                </p>             
                </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-people"></i></div>
                <h4>Social & economic balance</h4>
                <p>
                    Direct taxation fosters social and economic balance, providing essential services for sustainable development and equitable wealth distribution.
                </p>
              </div>
            </div>
          </div> 
        </div>
<!-- =====================CTA======================= -->
  <section id="cta">
        <div class="container-fluid text-center py-4 py-md-6">
            <div class="lc-block card border-0 text-center rounded p-4 p-lg-6" style="background:url(images/CTA.svg)  center / cover no-repeat;">
                <div class="row card-body mb-3 mb-lg-4">
                    <div class="col-xl-11 col-xxl-9 mx-auto">
                        <div class="lc-block">
                            <div editable="rich">
                                <h3 class="text-white fw-bold display-6">Optimize your finances! Consult us for direct taxation solutions.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Know More</a></div>
            </div>
        </div>
  </section>

  
  <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>FAQ's on Direct Taxtional service</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What direct taxation services does LSA Company provide?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                LSA Company specializes in offering comprehensive direct taxation services, including expert advice on income tax, corporate tax, and other related matters to ensure optimal financial compliance.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How can LSA Company assist my business in optimizing tax returns?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
             <p>
                At LSA Company, our dedicated team leverages extensive expertise in direct taxation to help businesses maximize tax returns. We analyze your financial situation, identify potential deductions, and implement strategic tax planning solutions.
             </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Why choose LSA Company for corporate tax consulting?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
             <p>
                LSA Company stands out for its unparalleled corporate tax consulting services. Our seasoned professionals provide personalized guidance, ensuring that your business complies with tax regulations while minimizing liabilities and optimizing financial outcomes.
             </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> Does LSA Company cater to small businesses' direct taxation needs?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely! LSA Company is committed to supporting businesses of all sizes. Our direct taxation services include tailored solutions for small businesses, addressing their unique tax challenges and promoting financial efficiency.
             </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How can I schedule a consultation with LSA Company for direct taxation assistance?
              <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Initiating a consultation with LSA Company is easy. Simply reach out to our team through our website or contact us directly to schedule a personalized session. Discover how our direct taxation experts can contribute to your financial success.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
        
      

    <!-- ======= Footer ======= -->
    {% endblock %}