{% extends "templates/custom_web.html" %}
{% block content %}
  

  <!-- ======= hero Section ======= -->
  <section class="itr-hero-section">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Effortless ITR filing online, swift and expert assistance guaranteed!</h1>
            <p class="col-lg-10 fs-4">Streamline your ITR filing online with ease! Contact us for expert assistance and ensure swift, hassle-free tax compliance today.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="your name">
                <label for="floatingInput">Name</label>
              </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="Mobile Number">
                <label for="floatingInput">Mobile Number</label>
              </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Message">
              <label for="floatingInput">Message</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Now</button>
          </form>
        </div>
      </div>
</section>

<!-- ==========overview Section========== -->
    <section id="overviewpage">
      <div class="container" data-aos="fade-up">
      <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h3>Effortless ITR Filing Services for Seamless Compliance: Trust Our Expert Team for Quick and Accurate Income Tax Return Solutions!</h3>
            </div>
            <div class="col-md-7">
              <p>LSA experts specialize in essential ITR filing services, ensuring compliance with tax regulations. Filing Income Tax Returns (ITR) is crucial for individuals and businesses to meet legal requirements and avoid penalties. Our adept team at LSA navigates the complexities, offering seamless solutions. With in-depth knowledge and precision, LSA experts make ITR filing hassle-free, maximizing returns while minimizing stress. Trust LSA for expert guidance, timely filings, and a streamlined process that prioritizes your financial well-being. Stay compliant, confident, and financially secure with LSA's unparalleled ITR filing expertise.</p>
            </div>
          </div>
      </div>
    </div>
    </section> <!-- End Main -->

    

<!-- ========================Benefits==================== -->

    <section id="benefits" class="benefits section-bg">
        <div class="container" data-aos="fade-up">
  
            <header class="section-header">
                <h3>Benefits of ITR Filing</h3>
            </header>
    
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-fast-forward"></i></div>
                <h4>Carry Forward Loss</h4>
                <p>
                  Utilize Carry Forward Loss as a tax-saving strategy in ITR filing for enhanced benefits. Optimize your company's financial outlook with smart tax planning and maximize returns efficiently.
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-check-all"></i></div>
                <h4>Loan Approval</h4>
                <p>
                  Optimizing ITR filing benefits a company by enhancing loan approval chances, showcasing financial stability, and securing favorable terms, ultimately fostering business growth and success.
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bookmark-star"></i></div>
                <h4>Government Benefits</h4>
                <p>
                  Maximize company gains with strategic ITR filing, unlocking government benefits, optimizing returns, and ensuring financial success. Boost profitability effortlessly
                </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-file-earmark-bar-graph"></i></div>
                <h4>Tax Compliance</h4>
                <p>
                  Ensure tax compliance and maximize benefits with timely ITR filing. Enhance financial efficiency, reduce risks, and boost savings for your company. Trust our expert tax services today.
                </p>
              </div>
            </div>
          </div> 
        </div>
    </section>

    <!-- ================================ITR Forms========================== -->
    <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

      <div class="container">
    
        <header class="section-header">
          <h3>different forms applicable for ITR Filing</h3>
        </header>
    
        <div class="row gy-4 indirect-department">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Form No. : ITR-1 SAHAJ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Form No. : ITR-2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Form No. : ITR-3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Form No. : ITR-4 Sugam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Form No. : ITR-5</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Form No. : ITR-6</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Form No. : ITR-7</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-12 details order-2 order-lg-1">
                    <h3>Form No. : ITR-1 SAHAJ</h3>
                    <p>Form ITR-1 SAHAJ is an income tax return form in India designed for individuals with straightforward income sources. It is commonly used by salaried individuals, pensioners, and those with income from a single house property or other sources like interest and agricultural income below Rs. 5,000. The form requires details of income, deductions, and tax computation. It is a simplified form to facilitate easy filing for individuals with uncomplicated financial scenarios. Taxpayers using ITR-1 should ensure accurate reporting of income and adherence to specified guidelines. Filing ITR-1 SAHAJ is crucial for compliance with Indian tax regulations and helps individuals fulfill their tax obligations efficiently.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-12 details order-2 order-lg-1">
                    <h3>Form No. : ITR-2</h3>
                    <p>ITR-2 is an Income Tax Return form used by individuals and Hindu Undivided Families (HUFs) not having income from business or profession. It is applicable for taxpayers with income from capital gains, house property, and other sources. The form requires details of income, deductions claimed, and taxes paid. Additionally, it mandates disclosure of foreign assets and income for residents with global income. ITR-2 is filed by those not eligible for ITR-1 and includes information on salary, multiple house properties, and investments. Taxpayers must accurately fill the form and submit it online or in paper format, ensuring compliance with income tax regulations.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-12 details order-2 order-lg-1">
                    <h3>Form No. : ITR-3</h3>
                    <p>Form ITR-3, also known as Income Tax Return-3, is a document prescribed by the Indian Income Tax Department for individuals and Hindu Undivided Families (HUFs) having income from business or profession. It is not applicable to individuals earning income through a proprietary business or those opting for presumptive income scheme under sections 44AD and 44AE. ITR-3 requires detailed information about the taxpayer's income, expenses, and deductions related to business or profession. Additionally, it includes details of partner's shares in the firm, making it suitable for those involved in partnership firms. Filing ITR-3 is essential for taxpayers falling under the specified criteria to comply with the income tax regulations in India.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-12 details order-2 order-lg-1">
                    <h3>Form No. : ITR-4 Sugam</h3>
                    <p>
                      ITR-4 Sugam is an income tax return form in India designed for individuals and Hindu Undivided Families (HUFs) with income from a presumptive business or profession. It is a simplified form, facilitating easier tax filing for taxpayers engaged in specified professions or businesses, such as freelancers, small businesses, and professionals. The form requires taxpayers to provide details of their income, deductions, and tax computation. Additionally, ITR-4 Sugam is applicable to those opting for the presumptive taxation scheme under sections 44AD, 44ADA, and 44AE of the Income Tax Act. By using this form, eligible taxpayers can fulfill their tax obligations efficiently, benefiting from a streamlined process tailored for their specific financial activities.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Form No. : ITR-5</h3>
                    <p>
                      Form ITR-5 is an income tax return form used by Hindu Undivided Families (HUFs), firms, Association of Persons (AOPs), and Body of Individuals (BOIs) that are not claiming exemption under Section 11. It is filed with the Income Tax Department of India to declare their income, gains, and losses for a particular financial year. The form requires detailed information about the taxpayer's income, deductions, and tax payments. Additionally, it mandates the disclosure of partner details in the case of a partnership firm. Filing ITR-5 ensures compliance with tax regulations and facilitates the assessment of tax liability. Taxpayers must submit this form by the specified due date to avoid penalties or legal consequences.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-6">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Form No. : ITR-6</h3>
                    <p>
                      Form ITR-6 is an income tax return form in India, primarily applicable to companies that do not claim exemption under Section 11 of the Income Tax Act. It is filed by entities such as companies, including those claiming deductions under sections 11 and 10AA, engaged in charitable or religious activities. This form requires comprehensive details regarding income, losses, deductions, and taxes paid by the company during the financial year. It includes information about the business's nature, income sources, and financial particulars. Additionally, ITR-6 mandates the disclosure of details related to audit reports, balance sheets, and profit and loss statements. Accurate and timely submission of Form ITR-6 is crucial for complying with Indian income tax regulations.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-7">
                <div class="row gy-4">
                  <div class="col-lg-12 details order-2 order-lg-1">
                    <h3>Form No. : ITR-7</h3>
                    <p>
                      Form ITR-7 is an income tax return form in India, primarily designed for individuals and entities that fall under the category of Association of Persons (AOP), Body of Individuals (BOI), firms, and companies. This form is filed under Section 139(4A), 139(4B), 139(4C), and 139(4D) of the Income Tax Act. ITR-7 is an annexure-less form, meaning that no additional documents need to be attached while filing. It requires detailed information about the taxpayer's income, deductions, and tax computation. The form includes sections for personal details, income details, and details of the tax computation. It is crucial for those falling under the specified categories to accurately fill and submit ITR-7 to comply with income tax regulations in India.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      </div>
    </section><!-- End Departments Section -->

        
<!-- =====================CTA======================= -->
  <section id="cta">
        <div class="container-fluid text-center py-4 py-md-6">
            <div class="lc-block card border-0 text-center rounded p-4 p-lg-6" style="background:url(images/CTA.svg)  center / cover no-repeat;">
                <div class="row card-body mb-3 mb-lg-4">
                    <div class="col-xl-11 col-xxl-9 mx-auto">
                        <div class="lc-block">
                            <div editable="rich">
                                <h3 class="text-white fw-bold display-6">Optimize Taxes Now: File Your ITR with LSA Experts!</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Call Now</a></div>
            </div>
        </div>
  </section>

  
  <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>FAQ's on Audit & Assurance</h3>
    </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What are the key benefits of outsourcing ITR filing services to LSA?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                By choosing LSA for your ITR filing needs, you unlock the advantages of expert tax professionals, timely submissions, and personalized attention. Our streamlined processes ensure accuracy, compliance, and peace of mind. Discover seamless tax filing with LSA's dedicated team.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does LSA ensure data security during the ITR filing process?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                At LSA, we prioritize the confidentiality and security of your financial information. Our robust encryption protocols, secure servers, and adherence to industry best practices guarantee that your sensitive data remains protected throughout the ITR filing journey.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can LSA assist with complex tax scenarios and varied income sources?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely. LSA specializes in handling diverse tax situations. Whether you have multiple income sources, investments, or complex deductions, our experienced team is equipped to navigate intricate tax scenarios, ensuring accurate and comprehensive ITR filings.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What sets LSA apart from other ITR filing service providers in terms of customer support?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                LSA distinguishes itself through unwavering commitment to customer satisfaction. Our responsive and knowledgeable customer support team is ready to address your queries promptly. Experience the difference of personalized assistance throughout your ITR filing journey with LSA.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How does LSA ensure customer satisfaction and support throughout the ITR filing process?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                At LSA, we prioritize your satisfaction and understand that navigating the tax filing process can be complex. Our dedicated customer support team is available to guide you every step of the way. From answering queries to providing clarification on documentation, count on LSA for unwavering support and a seamless ITR filing experience.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
        
      

    <!-- ======= Footer ======= -->
    {% endblock %}
  










